body, html, .container-fluid, .publisher, .subscriber {
	height:100%;
}

.videoCol {
	/*Bootstrap defaults in comments*/
	/*position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;*/
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}

.buttonRow {
	height: 6%;
}


.videoRow {
	height:47%;
}

.modal-title {
	text-align: center;
}

/* Buttons */

#prevFive, #nextFive {
	width: 35%;
}

#pauseToggle {
	width: 10%;
}

#classList, #help {
	width: 90%;
}

#logOut, #endClass {
	width: 90%;
}

button {
    margin: 0 auto;
}

/* Mummy list entries */

.selected {
	background-color: gray;
}

.inactive, .inactive-help {
	color: red;
}

.no-stream, .no-stream-help {
	color: black;
}

.moderator, .moderator-help {
	color: purple;
}

.active, .active-help {
	color: green;
}

/* Class List modal*/

.selected-subscriber {
	border-style: solid;
	border-width: 2px;
	border-color: yellow;
}

#kill {
	margin-bottom: 4px;
}

#archive-publisher {
	display:none;
}

.hidden {
	display: none;
}
