.hidden {
	display: none;
}

#fbLogin {
	background-color: #3b5998;
	color: white;
	margin: 0 auto;
}
.loginpage{
	margin-top: 5%;
	text-align: center;
}
h4 {
	font-family: Lobster;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

p {
	font-family: Lobster;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

