body, html, .container-fluid, .row {
	height:100%;

}

#window{
	position:relative;
	left: 10px;
	height: 100%;
	width: 100%;
}

#moderator{
	position:absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#tooearlypic{
	height: 100%;
	width: 100%;
	background-size: 100%
}

#publisher {
	position:absolute;
	width: 160px;
	height: 120px;
	top: 69%;
	left: 85%;
	z-index : 10;
}
