body, html, .container, .tabpanel, #classview, .tab-content, .container-fluid, .row  {
	height:100%;
}

#window{
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0;
	overflow: none;
}

#moderator {
	position:absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
}

.image {
	position:absolute;
	height: 100%;
	width: 100%;
	/*background-size: 100%*/
	overflow : hidden;
}

.image img{
	width: auto;
	height : auto;
	max-height: 100%;
	max-width: 100%;
}

#button-div {
	position: absolute;
	width: 50%;
	height: 30px; /* px to match buttons, % can get too small, pushes buttons off bottom of page*/
	bottom: 1%;
	right: 0.5%;
	z-index: 12;
	float: right;
	text-align: right;
	overflow: visible;
}

#streamtoggle, #help, #logOut {
	margin-right: 4px;
}

#publisher {
	position: absolute;
	width: 15%;
	height: 20%;
	bottom: 0;
	right: 0;
	z-index : 10;
}

#blackout-div {
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 11;
}

.hidden {
	display: none;
}

.windowpanel{
	margin-top: 10px;
}

#adminlogOut {
	margin-left: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.modal-title {
	text-align: center;
}

/*Hide archive light*/
.OT_archiving {
	display: none !important;
}
