extends ./layouts/default.jade

//- NB- The full stop on line 5 is VERY IMPORTANT
append head
	link(href='/css/instructor.css', rel='stylesheet' type='text/css')
	script(type='text/javascript').
		var apiKey = '#{apiKey}'
		var sessionId = '#{sessionId}'
		var token = '#{token}'
		var permissions = 'moderator'
		var username = '#{username}'
	script(src='/scripts/instructor.js')

block content
	.row
		.col-xs-4.publisher
			#publisher
		.col-xs-4.subscriber#subscriber1
		.col-xs-4.subscriber#subscriber2
	.row
		.col-xs-4.subscriber#subscriber3
		.col-xs-4.subscriber#subscriber4
		.col-xs-4.subscriber#subscriber5
	.row
		.col-md-3
			button.btn#stopStream Stop Stream
			button.btn#startStream Start Stream
			button.btn#nextFive Next Five
		.col-md-6
			button.btn#getSubscribers Log Subscribers
			button.btn#kill kill
			input#connectionId(type='text', placeholder='connectionId to kill')

