extends ./layouts/default.jade
.row
	.col-md-12
		h1.contact Oops! You are not yet registerd for live Mummy Workouts lessons
		h2 Please become a member at www.mummyworkouts.com or contact Mummy Workouts at:
