extends ./layouts/default.jade

block content
	.container
		.row
			.col-md-12
				h1.contact Oops! You are not yet registered for live Mummy Workouts lessons
				h2 Please become a member at
					a(href='http://www.mummyworkouts.com')  www.mummyworkouts.com
