extends ./layouts/nonavbar.jade

block content
	.container
		.row
			.col-md-12
				h1.contact Oops! Your attempt to join the class has failed.
				br
				p Check the error mesage above, and refresh the page if asked.
				p Otherwise, please return to Mummy Workouts and re-try the Join Class button.
				br
			  h3 Not a Mummy Workouts member?
				p Please become a member at <a href='http://www.mummyworkouts.com'>www.mummyworkouts.com</a>
