extends ./layouts/nonavbar.jade
append head
	link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster")

block content
	.container.loginpage
		.row
			.col-md-6.col-md-offset-3
				img(src='http://mummyworkouts.com/wp-content/uploads/2014/12/Mummy_Workout_Logo_3.jpg')
		.row
			.col-md-6.col-md-offset-3
				p You have sucesfully logged out of the class
				p Please return to <a href='http://www.mummyworkouts.com'>Mummy Workouts</a> if you would like to rejoin the class

//- OLD CONTENT. Facebook/Google login buttons
	//- .row
		//- 	//- .col-md-3
		//- 	.col-md-6.col-md-offset-3
		//- 		h4.loginfacebook Please login using your Facebook account
		//- 		br
		//- 		p.logininfo We cannot post anything to your wall, or access your account information.
		//- 	//- .col-md-3
		//- .row
		//- 	.col-md-6.text-center.col-md-offset-3
		//- 		a.btn#fbLogin(style='text-align:center;', href='/login/facebook', role='button') Login with Facebook
		//- .row
		//- 	.col-md-6.col-md-offset-3
		//- 		a.btn.btn-default#googleLogin(href='/login/google', role='button') Google - DEV TOOL
