if alert_error
	.container(style='text-align:center;')
		.alert.alert-danger(role='alert') #{alert_error}

if alert_success
	.container(style='text-align:center;')
		.alert.alert-success(role='alert') #{alert_success}

if alert_message
	.container(style='text-align:center;')
		.alert.alert-info(role='alert') #{alert_message}
