if error
	.container(style='text-align:center;')
		.alert.alert-danger(role='alert') #{error}

if success
	.container(style='text-align:center;')
		.alert.alert-success(role='alert') #{success}

if message
	.container(style='text-align:center;')
		.alert.alert-info(role='alert') #{message}
